<h1>Havainnon tiedot</h1>

<h2>Perustiedot</h2>
<ul>
  <li>Reitin numero: <%= @observation.route_number %></li>
	<li>Vuosi: <%= @observation.year %></li>
	<li>Reitin paikan numero: <%= @observation.observation_place_number %></li>
	<li>Havainnoijatunnus: <%= @observation.observer_id %></li>
	<li>Kuntakoodi: <%= @observation.municipal_code %></li>
	<li>NNN-koordinaatti: <%= @observation.nnn_coordinate %></li>
	<li>EEE-koordinaatti: <%= @observation.eee_coordinate %></li>
	<li>Biotooppiluokka: <%= @observation.biotope_class %></li>
	<li>Reitin edustavuus: <%= @observation.route_representative_class %></li>
	<li>Pistelaskentapaikkojen määrä reitillä: <%= @observation.spot_observation_place_count %></li>
	<li>Kiertolaskentapaikkojen määrä reitillä: <%= @observation.roaming_observation_place_count %></li>
	<li>Havaintopaikan nimi: <%= @observation.observation_place_name %></li>
	<li>1. laskentakerran pvm: <%= @observation.first_observation_date %></li>
	<li>2. laskentakerran pvm: <%= @observation.second_observation_date %></li>
	<li>1. laskentakerran aloitustunti: <%= @observation.first_observation_hour %></li>
	<li>2. laskentakerran aloitustunti: <%= @observation.second_observation_hour %></li>
	<li>1. laskentakerran kesto: <%= @observation.first_observation_duration %></li>
	<li>2. laskentakerran kesto: <%=  @observation.second_observation_duration %></li>
	<li>Laskentapaikan ala: <%= @observation.place_area %></li>
	<li>Koko vesistön ala: <%= @observation.water_system_area %></li>
	<li>Laskentapaikka kattoi koko vesistön: <%= @observation.area_covers_fully %></li>
	<li>Koko vesistön kattavat paikat alkaen: <%= @observation.covering_area_beginning %></li>
	<li>Koko vesistön kattavat paikat päättyen: <%= @observation.covering_area_end %></li>
	<li>Pistelaskenta? <%= @observation.spot_counting %></li>
	<li>Käytettiinkö kaukoputkea? <%= @observation.binoculars %></li>
	<li>Käytettiinkö venettä? <%= @observation.boat %></li>
</ul>

<h2>Havainnot</h2>
<ul>
  <li>anapla: <%= @observation.anapla %></li>
  <li>anacre: <%= @observation.anacre %></li>
  <li>anaacu: <%= @observation.anaacu %></li>
  <li>anacly: <%= @observation.anacly %></li>
  <li>aytfer: <%= @observation.aytfer %></li>
  <li>buccla: <%= @observation.buccla %></li>
  <li>mermer: <%= @observation.mermer %></li>
  <li>fulatr: <%= @observation.fulatr %></li>
  <li>gavarc: <%= @observation.gavarc %></li>
  <li>podcri: <%= @observation.podcri %></li>
  <li>podgri: <%= @observation.podgri %></li>
  <li>podaur: <%= @observation.podaur %></li>
  <li>cygcyg: <%= @observation.cygcyg %></li>
  <li>ansfab: <%= @observation.ansfab %></li>
  <li>bracan: <%= @observation.bracan %></li>
  <li>anapen: <%= @observation.anapen %></li>
  <li>anaque: <%= @observation.anaque %></li>
  <li>aytful: <%= @observation.aytful %></li>
  <li>melfus: <%= @observation.melfus %></li>
  <li>merser: <%= @observation.merser %></li>
  <li>meralb: <%= @observation.meralb %></li>
	<li>Laskettiinko lokkilinnut: <%= @observation.gullbirds %></li>
  <li>larmin: <%= @observation.larmin %></li>
  <li>larrid: <%= @observation.larrid %></li>
  <li>larcan: <%= @observation.larcan %></li>
  <li>stehir: <%= @observation.stehir %></li>
	<li>Laskettiinko kahlaajat ja kaulushaikara: <%= @observation.waders_eurasian_bittern %></li>
  <li>galgal: <%= @observation.galgal %></li>
  <li>trigla: <%= @observation.trigla %></li>
  <li>trineb: <%= @observation.trineb %></li>
  <li>trioch: <%= @observation.trioch %></li>
  <li>acthyp: <%= @observation.acthyp %></li>
  <li>numarq: <%= @observation.numarq %></li>
  <li>vanvan: <%= @observation.vanvan %></li>
  <li>botste: <%= @observation.botste %></li>
	<li>Laskettiinko varpuslinnut: <%= @observation.passerine %></li>
  <li>embsch: <%= @observation.embsch %></li>
  <li>acrsch: <%= @observation.acrsch %></li>
</ul>
