.page-header
  <h1>Havainnon tiedot</h1>

.row
  .span6
    %h2 Reitin tiedot
    %ul.unstyled
      %li Reitin numero: #{@observation.route.route_number}
      %li Kuntakoodi: #{@observation.route.municipal_code}
      %li Reitin edustavuus: #{@observation.route.route_representative_class}
      %li Pistelaskentapaikkojen määrä reitillä: #{@observation.route.spot_observation_place_count}
      %li Kiertolaskentapaikkojen määrä reitillä: #{@observation.route.roaming_observation_place_count}
      %li Koko vesistön ala: #{@observation.route.water_system_area}
    
    %h2 Havaintopaikan tiedot
    %ul.unstyled
      %li Reitin paikan numero: #{@observation.place.observation_place_number}
      %li NNN-koordinaatti: #{@observation.place.nnn_coordinate}
      %li EEE-koordinaatti: #{@observation.place.eee_coordinate}
      %li Biotooppiluokka: #{@observation.place.biotope_class}
      %li Havaintopaikan nimi: #{@observation.place.observation_place_name}
      %li Laskentapaikan ala: #{@observation.place.place_area}
      %li Laskentapaikka kattoi koko vesistön: #{@observation.place.area_covers_fully}
      %li Koko vesistön kattavat paikat alkaen: #{@observation.place.covering_area_beginning}
      %li Koko vesistön kattavat paikat päättyen: #{@observation.place.covering_area_end}
      
  .span6
    %h2 Perustiedot
    = link_to "Muokkaa havaintoa", edit_observation_path(@observation)
    %ul.unstyled
      %li Vuosi: #{@observation.year}
      %li Havainnoijatunnus: #{@observation.observer_id}
      %li 1. laskentakerran pvm: #{@observation.first_observation_date}
      %li 2. laskentakerran pvm: #{@observation.second_observation_date}
      %li 1. laskentakerran aloitustunti: #{@observation.first_observation_hour}
      %li 2. laskentakerran aloitustunti: #{@observation.second_observation_hour}
      %li 1. laskentakerran kesto: #{@observation.first_observation_duration}
      %li 2. laskentakerran kesto: #{@observation.second_observation_duration}
      %li Pistelaskenta? #{@observation.spot_counting}
      %li Käytettiinkö kaukoputkea? #{@observation.binoculars}
      %li Käytettiinkö venettä? #{@observation.boat}
      %li Laskettiinko lokkilinnut: #{@observation.gullbirds}
      %li Laskettiinko kahlaajat ja kaulushaikara: #{@observation.waders_eurasian_bittern}
      %li Laskettiinko varpuslinnut: #{@observation.passerine}

    %h2 Havainnot
    %ul.unstyled
      - @observation.counts.each do |count|
        %li #{count.bird.abbr}: #{count.count}
