.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "VesilintuOhtu", "/", :class => 'brand'
    
      %ul.nav.nav-tabs
        - if current_page?(root_path)
          %li.active
            = link_to root_path do
              %i.icon-home
              Etusivu
        - else
          %li
            = link_to root_path do
              %i.icon-home
              Etusivu
        -if current_page?(observations_search_path)
          %li.active 
            = link_to observations_search_path do
              %i.icon-search
              Haku
        -else
          %li 
            = link_to observations_search_path do
              %i.icon-search
              Haku
